---
:from_address: no-reply@example.com
:notify_address: some.address@example.com
:email: login.email@example.com
:password: YourPassword
:record_locator: RECLOC
:flight_number: UA1234
:econplus_seats: true
:normal_seats: false
:reseat_me: false
:smtp_server: 127.0.0.1
:send_not_found: false
:not_found_address: notfound@example.com
:use_headless: true
